In [1]:
import pandas as pd
import numpy as np

In [2]:
s=pd.Series([1,3,5,np.nan,6,8])
print (s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
t=pd.Series([1,3,5,np.nan,6,8],index=['a','b','c','d','e','f'])
print (t)

a    1.0
b    3.0
c    5.0
d    NaN
e    6.0
f    8.0
dtype: float64

In [4]:
s.index

RangeIndex(start=0, stop=6, step=1)

In [7]:
print (s.values)
print (s[2:5])

[ 1.  3.  5. nan  6.  8.]
2    5.0
3    NaN
4    6.0
dtype: float64

In [17]:
date=pd.date_range('20180101',periods=7)
print (date)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07'],
              dtype='datetime64[ns]', freq='D')

In [19]:
df=pd.DataFrame(np.random.randn(7,4))
df

          0         1         2         3
0 -1.098374  0.699722 -2.027326  0.231748
1  0.713988 -0.265673  0.344668 -0.444994
2  1.371335  1.130194  1.396765 -1.270465
3 -0.266125 -1.173835 -1.365800 -1.671275
4 -2.313192  0.174584  0.461117  0.586928
5  2.670126  0.643005  0.638714  0.303203
6 -0.515559 -1.325858 -0.236243 -0.328133

In [21]:
df=pd.DataFrame(np.random.randn(7,4),index=date,columns=list('ABCD'))
df

                   A         B         C         D
2018-01-01  0.134163 -0.370009 -0.340303 -1.565537
2018-01-02 -1.688210  2.622805  0.672026 -0.183727
2018-01-03 -0.440145  0.541867  0.375950 -0.879233
2018-01-04  0.533939 -0.993044 -2.123737 -0.354710
2018-01-05 -0.661841  1.801673  1.556922  0.637988
2018-01-06 -0.171610 -0.192700 -0.246677 -0.679374
2018-01-07  0.012117 -0.607711  1.525470  0.043942

In [31]:
df2=pd.DataFrame({'A':1,'B':pd.Timestamp('20180201'),'C':pd.Series(1,index=list(range(4)),dtype=float),'D':np.array([3]*4,dtype=int),'E':pd.Categorical(["ha","haha","ia","haha"]),'F':'abc'})
df2

   A          B    C  D     E    F
0  1 2018-02-01  1.0  3    ha  abc
1  1 2018-02-01  1.0  3  haha  abc
2  1 2018-02-01  1.0  3    ia  abc
3  1 2018-02-01  1.0  3  haha  abc

In [30]:
df2[(df2['E']=='haha')&(df2[])]

   A          B    C  D     E    F
1  1 2022-02-01  1.0  3  haha  abc